
/*body{background: #fbfbfb;}*/
img{max-width: 100%;}

.product_images{
    float: left;
    width: 90%;
    /*margin: 1% 25%;*/
    padding: 30px;
    background: #fff;
    *box-shadow: 0 0 5px 2px #ccc;
}
.product_images h1{
    font-size: 1.3em;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}
.thumbs{float: left; width: 90%; margin-top: 20px; padding: 2.5px; background: #eee;}
.thumbs img{float: left; width: 20%; padding: 2.5px; background: #eee; cursor: pointer;}
.thumbs img:hover,
.thumbs img.active{background: #99ccff;}